*{
    margin: 0%;
    padding: 0%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;

}
input{
    padding: 1rem;
    border: 1px solid rgba(196,196,196,0.683);
    outline: none;
    border-radius: 5px;
}